* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fullbody {
    /* //width: 100vw;
    height: 100vh;    */
    font-family: sans-serif;
    background-color: #a4d7cb;
}
.livesection{
    width: 100vw;
   
    font-family: sans-serif;
     padding: 1em 1em; 
    /* background: url(https://media.istockphoto.com/id/1017160930/vector/question-answer-bubble-icon-special-blue-banner-background.jpg?s=612x612&w=0&k=20&c=n-Ds3QgI2u8pVH1gt2C4a70ju_bv_GNhgpAtqTku-fc=); */
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 100% 20%; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.container {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    padding: 10em 10em;
    /* background: url(https://media.istockphoto.com/id/1017160930/vector/question-answer-bubble-icon-special-blue-banner-background.jpg?s=612x612&w=0&k=20&c=n-Ds3QgI2u8pVH1gt2C4a70ju_bv_GNhgpAtqTku-fc=); */
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #a4d7cb; */
}


.glass {
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    color: #000;
    border-radius: 9px;
    backdrop-filter: blur(50px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    line-height: 1.5;
    transform: translatey(-5%);
    transition: transform 0.5s;
}

.glass-1 {
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    color: rgb(122, 82, 82);
    border-radius: 9px;
    backdrop-filter: blur(50px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    line-height: 1.5;
    transform: translatey(-5%);
    transition: transform 0.5s;
    font-size: 1.7rem;
}

.glass h1 {
    font-size: 1.5rem;
    text-align: center;
}

.glass h2 {
    font-size: 1rem;
    margin-top: 20px;
}

.input {
    width: 100%;
    height: 70px;
    overflow: hidden;
    margin-top: 40px;
}

.input input {
    width: 100%;
    height: 70px;
    border: none;
    padding-left: 30px;
    padding-top: 0;
    outline: none;
    font-size: 1.5rem;
    border-radius: 20px;
}

.glass p {
    font-size: 1.6rem;
    margin-top: 30px;
}